body {
    padding: 0%;
    margin: 0%;
      box-sizing: border-box;
      text-decoration: none;
    }
    
    @font-face {
      font-family: Montserrat;
      src: url(/src/Assets/static/Montserrat-Light.ttf);
    }
    @font-face {
      font-family: Strike;
      src: url(/src/Assets/Protest_Strike/ProtestStrike-Regular.ttf);
    }
  
    .about-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 50px;
      padding: 100px;
  }
  
  @media screen and (max-width:896px) {
      .about-container {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          gap: 20px;
          padding: 40px 10px;
      }
  }
  
  .about-image {
      width: 30%;
      height: 600px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 0px;
  }
  @media screen and (max-width:896px) {
      .about-image {
          width: 100%;
          height: fit-content;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          padding: 0px;
      }
  }
  
  .about-image > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
  }
  
  .about-text {
      width: 70%;
      height: 600px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 0px;
      gap: 30px;
  }
  
  .about-text > h2 {
      font-size: 20px;
      font-family: Strike;
      color: #ebc9a0;
  }
  
  .about-text > p {
      font-size: 16px;
      font-family: Montserrat;
      line-height: 2.5rem;
      color: #ebc9a0;
  }
  @media screen and (max-width:896px) {
      .about-image > img {
          width: 100%;
          height: fit-content;
          object-fit: cover;
          border-radius: 10px;
      }
      
      .about-text {
          width: 100%;
          height: fit-content;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          background-color: #0b2311;
          padding: 10px;
          gap: 20px;
      }
      
      .about-text > h2 {
          font-size: 17px;
          color: #ebc9a0;
      }
      
      .about-text > p {
          font-size: 12px;
          font-family: Montserrat;
          line-height: 1.5rem;
      }
  }
  
  .my-design {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
  }
  
  .my-design > h3 {
    font-size: 25px;
    color: #ebc9a0;
    font-family: Montbold;
  }
  
  @media screen and (max-width:896px) {
     .my-design {
      width: 100%;
      gap: 10px;
    }
     .my-design > h3 {
      font-size: 20px;
      color: #ebc9a0;
      font-family: Montbold;
    }
  }
  
  .stack-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  
  @media screen and (max-width:896px) {
    .stack-box {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
  }
  
  .stack-box > span {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebc9a0;
    padding: 20px;
    gap: 20px;
    color: #0b2311;
    font-size: 17px;
    font-family: Montserrat;
    font-weight: 600;
  }
  
  @media screen and (max-width:896px) {
     .stack-box > span {
      width: 200px;
      height: 200px;
     }
  }
  
  .html-percent {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    color: #fff;
    background: conic-gradient(#222 95%, #ebc9a0 0%);
  }
  .css-percent {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    color: #fff;
    background: conic-gradient(#222 89%, #ebc9a0 0%);
  }
  .java-percent {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    color: #fff;
    background: conic-gradient(#222 77%, #ebc9a0 0%);
  }
  .react-percent {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    color: #fff;
    background: conic-gradient(#222 70%, #ebc9a0 0%);
  }
  
  .resume-link-con {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 50px;
      gap: 50px;
  }
  
  .download-btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      border: 1px solid #fff;
      background-color: transparent;
      color: #ebc9a0;
      padding: 6px 8px 6px 15px;
      font-size: 14px;
      border-radius: 25px;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
      overflow: hidden;
    }
  
    .down-icon {
      font-size: 20px;
      color: #bab8b8;
      display: flex;
    }
  
    @media screen and (max-width:896px) {
      .resume-link-con {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          padding-top: 20px;
          gap: 20px;
      }
      
      .download-btn {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: #ebc9a0;
          padding: 6px 8px;
          font-size: 10px;
          border-radius: 10px;
        }
      
        .down-icon {
          font-size: 13px;
          color: #bab8b8;
          display: flex;
        }
    }
    
    .download-btn:hover {
      background-color: #0b2311;
      color: #ddb686;
    }
  
    .download-btn:hover > .down-icon {
      animation: drop 0.7s infinite;
    }
  
    @keyframes drop {
      0% {
          transform: translateY(-100%); transition: all 0.3s ease-in-out;
      }
      100% {
          transform: translateY(110%); transition: all 0.3s ease-in-out;
      }
    }
    
    .my-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
    }
  
    .my-link > a {
      padding: 7px;
      border-radius: 50%;
      border: 1px solid #6b6a6a;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      scale: 1.0;
      color: #ebc9a0;
      transition: all 0.3s ease-in-out;
    }
    .my-link > a:hover {
      border: 1px solid #fff;
      scale: 1.1;
      transition: all 0.3s ease-in-out;
    }
  
    @media screen and (max-width:896px) {
      .my-link {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
        }
  
        .my-link > a {
          padding: 5px;
          font-size: 12px;
        }
    }
  